{template 'common/header'}
<link rel="stylesheet" href="../addons/li_bang/template/public/index.css">
<link rel="stylesheet" href="../addons/li_bang/template/public/product.css">
<div class="content1">
     {template 'common/li_bang_header'}
    <div class="service main_title">
        <div class="title" style="padding-top:80px;">
            <p></p>
            <p>{$libintro['name']}</p>
            <p>{$libintro['ename']}</p>
            <p>一</p>
        </div>
        <div class="navigate">
            <ul>
                {if $_GET['pid']}
                <li class="nav"><a href="{php echo $this->createMobileUrl('liebiao')}&id=5">所有服务</a></li>
                {else}
                <li class="nav active">
                    <a href="{php echo $this->createMobileUrl('liebiao')}&id=5" class="action">所有服务</a>
                </li>
                {/if}
                 {loop $proserver $index $item}
                 {if $_GET['pid'] == $item['id']}
                <li class="nav active"><a href="{php echo $this->createMobileUrl('liebiao')}&id={$item['pid']}&pid={$item['id']}" class="action">{$item['name']}</a></li>
                {else}
                <li class="nav">
                    <a href="{php echo $this->createMobileUrl('liebiao')}&id={$item['pid']}&pid={$item['id']}">{$item['name']}</a>
                </li>
                {/if}
                {/loop}
            </ul>
        </div>
        <!-- <div class="navs">
            <div class="mui-slider">
                <div class="mui-slider-group">
                    <div class="mui-slider-item creden">
                        <a href="#">
                            <div class="small active">所有服务</div>                          
                        </a>
                    </div>
                     {loop $proserver $index $item}
                    <div class="mui-slider-item creden">
                        <a href="{php echo $this->createMobileUrl('liebiao')}&id={$item['pid']}&pid={$item['id']}">
                             {$item['name']}
                        </a>
                    </div>
                    {/loop}
                </div>
            </div>
        </div> -->
        <div class="all_server product_server">
            <ul>
                {loop $all $index $item}
                <a href="{php echo $this->createMobileUrl('productmore')}&id={$item['id']}">
                    <li>
                        <div class="mui-slider">
                            <div class="mui-slider-group mui-slider-loop" style="height: 15rem;">
                                <!--支持循环，需要重复图片节点-->
                                <div class="mui-slider-item mui-slider-item-duplicate">
                                    <img src="../attachment/{$item['last']}" width="351px" height="234px"/>
                                </div>
                                {loop $item['image'] $index $items}
                                <div class="mui-slider-item">
                                    <img src="../attachment/{$items}" width="300px" height="234px"/>
                                </div>
                                {/loop}
                                <!--支持循环，需要重复图片节点-->
                                <div class="mui-slider-item mui-slider-item-duplicate">
                                    <img src="../attachment/{$item['first']}" width="351px" height="234px"/>
                                </div>
                            </div>
                        </div>
                        <!-- <img src="../attachment/{$item['image']}" alt=""> -->
                        <div class="title">{$item['title']}</div>
                        <div class="line"></div>
                        <div class="content">{$item['intro']}</div>
                    </li>
                </a>
                {/loop}
            </ul>
        </div>
        <div style="text-align:center"><div class="page">{$pager}</div></div>
    </div>
    <div class="baidu">
    	{$tu['content']}
    </div>
    <!-- 礼邦商城开始 -->
    <div class="mwai">
        <div class="mall main_title" style="height: 485px;">
            <div class="title">
                <p></p>
                <p>{$shop['name']}</p>
                <p>{$shop['ename']}</p>
                <p>一</p>
            </div>
            <ul>
                 {loop $link $index $item}
                <li>
                    <img src="../attachment/{$item['image']}" alt="">
                    <a href="{php echo $this->createMobileUrl('jieshao')}&action=get&id={$item['id']}"><div class="pass">点击进入 ></div></a>
                </li>
                {/loop}
            </ul>
        </div>
    </div>
    <!-- 礼邦商城结束 -->
     {template 'common/li_bang_footer'} 
</div>
<style>
    .mui-slider .mui-slider-group .mui-slider-item img{
        width: 100%;
        height:15rem;
    }
    .all_server .content p{
        font-size: 0.9rem;
        text-align: justify;
        text-align-last: left;
    }
    .baidu{
        width:70%;
        position: relative;
        margin: 0 auto;
        /*border:1px solid red;*/ 
    }
    .baidu iframe{
    	width: 100%;
    	/*border:1px solid red;*/ 
    }
</style>
<script>
    var gallery = mui('.mui-slider');
    gallery.slider({
        interval: 6000//自动轮播周期，若为0则不自动播放，默认为0；
    });
</script>
{template 'common/footer'}